.appContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--off-white-color);
}

.appBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--white-color);
    border-radius: 30px 30px 150px 30px;
    padding: 30px 80px 30px 30px;
}